.image-project {
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 50px;
}

.react-simple-image-viewer__close {
  top: 70px;
  font-size: 50px;
}

.styles-module_navigation__1pqAE {
  height: 50%;
}

.styles-module_image__2hdkJ {
  max-height: 80%;
  max-height: 80%;
  border-radius: 5px;
}
